<%= render partial: 'partials/title', locals: {title: 'Pumpkin Smash'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>
        SUNDAY, November 1st from 12-4pm @ Idaho Springs Ballfields
      </h2>
      <p>
        The Annual Pumpkin SMASH happens the 1st Saturday after Halloween in Clear Creek County. #DONTTRASHITSMASHIT
      </p>
      <p>
        Scraps-to-Soil holds the Pumpkin SMASH each year to explore composting and ways to contribute less to the waste stream. We get “hands-on” with tons of techniques for pulverizing pumpkins into pieces, including the Gallagher mallets, Louisville Sluggers, the Trebuchet launcher and the SlingShot. No matter the smash technique you choose, you will contribute to the continuance of a community-wide composting crusade.
      </p>
      <p>
        The next Pumpkin SMASH is the 12th annual and is going to be on Sunday, November 1st  from 12 to 4pm at the Idaho Springs Ball fields. We will have the smashing stations, food vendors, beer & rootbeer, informational booths, Pumpkin Pinata, Pumpkin bowling, Obstacle Course, Bouncy house, Chicken POO Bingo, Lucky Bucket raffle and face painting!
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left highlight">
      <h2>
        Get Tickets
      </h2>
      <p>
        The event is FREE to attend and all ages are welcome. GET YOUR FREE TICKETS AT EVENTBRITE.COM To participate in each station you will need 1 ticket or 1 "SMASH cash". Each ticket is $1, but don't let money put a stop to a great time, you can also earn "SMASH cash" when you learn about composting and other ways to live more sustainably while having fun! Here is how: Walk around the event and read the posters with information about composting and recycling, then visit the "SMASH cash station" and answer some questions, if you get them right, you will earn "SMASH cash" and can spend it having more fun!
      </p>
      <p>
        The event will happen rain, shine or snow so come prepared for a November kind of day in the Rocky Mountains. Tell your friends and family... DON'T TRASH IT, SMASH IT!! SEE YOU THERE!
      </p>
    </div>
    <div class="half right">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right">
      <h2>
        Be a Sponsor
      </h2>
      <p>
        The Pumpkin SMASH is brought to you by Scraps-to-Soil, an ALL volunteer non profit, local partners, sponsors and donors.
      </p>
      <ul>
        <li>
          GOLD SPONSORS: BeauJos, A.D.D. Productions  & City of Idaho Springs
        </li>
        <li>
          SILVER SPONSORS: Tommy Knocker Brewery, Smokin’ Yards BBQ, Westbound&down Brewery, Idaho Springs Chamber of Commerce.
        </li>
        <li>
          BRONZE SPONSORS: SOLVE, Echo Mountain Resort, Coopers on the Creek, The Alpine Restaurant, The Happy Cooker, Mountain Gems Jewelry, Bonfire, Buckskin trading, Margie’s Place, Clear Creek Outdoors.
        </li>
        <li>
          2018 PARTNERS: Clear Creek Metropolitan Recreation District, Mountain Youth Network, Rite of Passage, Clear Creek CSU Extension, Clear Creek Fire Authority, Mill Creek Designs, Clear Creek Library District, I Know a Guy, Green Way LLC, Allied Towing, Boy Scouts, Clear Creek Eco School, Main Street Restaurant, The Frothy Cup & Idaho Springs Public works.
        </li>
        <li>
          Special 2019 Sponsor: Team Evergreen
        </li>
      </ul>
    </div>
  </div>
</div>
