<%= render partial: 'partials/title', locals: {title: 'Programs'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>Change This</h2>
      <ul>
        <li>Pumpkin Smash</li>
        <li>Community Garden</li>
      </ul>
    </div>
  </div>
</div>

