<div class="footer">
  Strengthen and protect ecosystem health and biodiversity
  Breakdown barriers and foster support for the young farmers entering the profession
  Protect public health, human communities and or animal welfare
</div>
