<div class="footer">
  <div class="container footer_1">
    <div class="background"></div>
    <div class="footer_content">
      <p>
        <a href="tel:3039008716">(303) 900-8716</a>
        <br />
        <a href="mailto:info@scraps-to-soil.org">info@scraps-to-soil.org</a>
      </p>
    </div>
  </div>
  <div class="container footer_2">
    <div class="background"></div>
    <div class="footer_content">
      <p>
        copyright <%= Date.today.year %>, s2s is a 501c3
      </p>
    </div>
  </div>
  <div class="container footer_3">
    <div class="background"></div>
    <div class="footer_content">
      <ul>
        <li>
          Strengthen and protect ecosystem health and biodiversity
        </li>
        <li>
          Breakdown barriers and foster support for the young farmers entering the profession
        </li>
        <li>
          Protect public health, human communities and or animal welfare
        </li>
      </ul>
    </div>
  </div>
</div>
