<%= render partial: 'partials/title', locals: {title: 'Volunteer'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>Change This</h2>
      <p>
        Description of volunteering. Link to "Get Involved" page.
      </p>
    </div>
  </div>
</div>