<%= render partial: 'partials/title', locals: {title: 'Volunteer'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>Contact Us</h2>
      <p>
        <a href="https://forms.gle/h3JkrXrwHgf4V3qh6">Please use this form to contact us about volunteering.</a>
      </p>
    </div>
  </div>
</div>