<%= render partial: 'partials/title', locals: {title: 'Scraps to Soil x'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>
        Mission
      </h2>
      <p>
        To empower individuals to work together in the pursuit of a lifestyle that is fulfilling, healthy and
        sustainable.
      </p>
      <h2>
        Vision
      </h2>
      <p>
        Scraps-to-Soil envisions communities in which individuals can live in a manner that is environmentally,
        socially and economically sustainable.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <h2>
        What We Believe in
      </h2>
      <ul>
        <li>
          ...inspiring cooperative action to achieve a lifestyle that is more fulfilling, physically and mentally healthy, and economically secure for the individual and the collective;
        </li>
        <li>
          ...targeting the communities' youth, retirees and low income families in our programs;
        </li>
        <li>
          ...reducing the burdens of government by providing outreach and support to improve the quality of life for community members;
        </li>
        <li>
          ...cooperating with other non-profits that have similar charitable, educational or scientific purposes.
        </li>
        <li>
          ...enhancing the image of the community to locals and visitors;
        </li>
        <li>
          ...researching innovative social and technical solutions to the sustainability issues we face;
        </li>
        <li>
          ...lessening neighborhood tensions by providing opportunities for community engagement and enrichment;
        </li>
        <li>
          ...that the world can be a better place, and that we have much to contribute to this, our small corner of it, through our efforts to provide education about sustainability through composting and gardening...
        </li>
        <li>
          ...encouraging every individual to get involved in improving their community.
        </li>
      </ul>
    </div>
    <div class="half right">
      <%= image_tag 'compost.jpg' %>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'plant_circle.jpg' %>
    </div>
    <div class="half right">
      <h2>
        Donate
      </h2>
      <p>
        BIG FRIENDLY DONATE BUTTON
      </p>
    </div>
  </div>
</div>
