<%= render partial: 'partials/title', locals: {title: 'About Us'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
<!--    <div class="one_third left">-->
      <%#= image_tag 'boy_gardening.jpg' %>
<!--    </div>-->
    <div class="full right highlight">
      <h2>Board Members</h2>
      <ul class="board_members">
        <li>
          <strong>Slaymaker, Cristin - President</strong>
          <span>Entrepreneur, business owner</span>
          <a href="cristin.slaymaker@gmail.com">Cristin.slaymaker@gmail.com</a>
          <span>September 2019</span>
        </li>
        <li>
          <strong>Cruzalegui, Ursula – Vice President</strong>
          <span>Scraps-to-Soil, Co-Founder</span>
          <span>Designer, Studio MW</span>
          <a href="ursulacqm81@hotmail.com">ursulacqm81@hotmail.com</a>
          <span>September 2019</span>
        </li>
        <li>
          <strong>Grundemann, Sarah</strong>
          <span>Teacher, William Smith High School</span>
          <a href="grundie02@yahoo.com">grundie02@yahoo.com</a>
          <span>September 2019</span>
        </li>
        <li>
          <strong>Marlin, George –Treasurer</strong>
          <span>Scraps-to-Soil, CO-Founder</span>
          <span>Clear Creek County Commissioner</span>
          <a href="gmarlin86@gmail.com">gmarlin86@gmail.com</a>
          <span>September 2019</span>
        </li>
        <li>
          <strong>Marlin, Margie</strong>
          <span>Pre School Teacher, Carlson Elementary</span>
          <a href="marlinmargie@gmail.com">marlinmargie@gmail.com</a>
          <span>October 2018</span>
        </li>
        <li>
          <strong>McCarthy, Brandon</strong>
          <span>RN, Saint Joseph Hospital</span>
          <a href="brandonmccarthyrn@gmail.com">brandonmccarthyrn@gmail.com</a>
          <span>September 2019</span>
        </li>
        <li>
          <strong>Murphy, Brandi - Secretary</strong>
          <span>Salewski & Rogers – Tax Assistant</span>
          <a href="brandiwine84@gmail.com">brandiwine84@gmail.com</a>
          <span>December 2018</span>
        </li>
        <li>
          <strong>Oliver, Nate</strong>
          <span>The Frothy Cup, Coffee Master</span>
          <a href="nateoliverenterprise@gmail.com">nateoliverenterprise@gmail.com</a>
          <span>September 2019</span>
        </li>
      </ul>
    </div>
  </div>
</div>