$color_primary: #46915D;
$color_primary_light_1: #A2CDAF;
$color_primary_light_2: #70AF83;
$color_primary_dark_1: #287740;
$color_primary_dark_2: #105825;

$color_secondary: #C4A15F;
$color_secondary_light_1: #FFECC8;
$color_secondary_light_2: #ECCF97;
$color_secondary_dark_1: #A17C37;
$color_secondary_dark_2: #775515;

$color_tertiary: #7E3E80;
$color_tertiary_light_1: #BB95BD;
$color_tertiary_light_2: #98639A;
$color_tertiary_dark_1: #672469;
$color_tertiary_dark_2: #4C0E4E;