// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global_variables';
ul.board_members {
  li {
    display: inline-block;
    width: 45%;

    strong, span {
      display: block;
      clear: both;
    }

    strong {
      color: $color_primary_dark;
    }
  }
  li:before {
    content: '' !important;
  }
}