@import '_gloabal_variables';

$header-bg-color: $color_primary;
$header-link-color: $color_secondary_light_2;
$header-link-bg-color: $color_primary;
$header-active-link-color: $color_secondary_light_1;
$header-active-link-bg-color: $color_primary;
$header-hover-link-color: lighten($header-active-link-color, 10%);
$header-hover-link-bg-color: $header-active-link-bg-color;
$logo-bg-color: $color_secondary;

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 100%;}
}

@keyframes disappear {
  from {opacity: 100%;}
  to {opacity: 0;}
}

@keyframes highlight {
  from {
    color: $header-link-color;
    background-color: $header-link-bg-color;
  }
  to {
    color: $header-hover-link-color;
    background-color: $header-hover-link-bg-color;
  }
}

@keyframes lowlight {
  from {
    color: $header-hover-link-color;
    background-color: $header-hover-link-bg-color;
  }
  to {
    color: $header-link-color;
    background-color: $header-link-bg-color;
  }
}

div.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $header-bg-color;
  padding-bottom: 1px;
  z-index: 100;
  text-align: center;
  height: 6em;
  font-family: 'Lato', sans-serif;

  img.logo {
    display: inline-block;
    width: auto;
    height: 10em;
    vertical-align: top;
    background-color: $logo-bg-color;
  }

  div.nav_links {
    margin: 0.3em 2em 0 2em;
    display: inline-block;

    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;

      li {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          font-size: x-large;
          border-right: 1px solid $header-active-link-bg-color;
          padding: .5em 1em;
          margin: 0;
        }

        a, a:visited, a:active {
          text-decoration: none;
          color: $header-link-color;
          background-color: $header-link-bg-color;
        }

        a.active {
          border-bottom: 2px solid $header-active-link-color;
          color: $header-active-link-color;
          background-color: $header-active-link-bg-color;
        }

        ul.submenu {
          display: none;
          animation-name: disappear;
          animation-duration: .5s;
        }
      }

      li:last-of-type a {
        border-right: none;
      }

      li:not(:hover) {
        a {
          animation-name: lowlight;
          animation-duration: .5s;
        }
      }

      li:hover {

        a {
          animation-name: highlight;
          animation-duration: .5s;
          color: $header-hover-link-color;
          background-color: $header-hover-link-bg-color;
        }

        ul.submenu {
          display: block;
          position: absolute;
          top: 3em;
          padding-top: 1.75em;
          background-color: $header-link-bg-color;
          animation-name: appear;
          animation-duration: .5s;

          li {
            height: 3em;
            width: 120%;

            a, a:visited, a:active {
              animation-name: none;
              margin-bottom:1px;
              width: 100%;
              border-right: none;
              text-decoration: none;
              color: darken($header-link-color, 20%);
              background-color: lighten($header-link-bg-color, 60%);
              border-top: 1px solid lighten($header-link-color, 10%);
            }

            a:hover {
              color: darken($header-link-color, 30%);
              background-color: lighten($header-link-bg-color, 50%);
            }

          }
        }
      }
    }
  }
}