@import '_gloabal_variables';

$site-bg-color: $color_secondary_light_1;
$title-color: $color_secondary_light_1;
$title-shadow-color: $color_tertiary_dark_1;
$content-width: 60%;
$div-bg-color: $color_secondary_light_1;
$div-border-color: $color_secondary_dark_2;

html, body {
  padding: 0;
  margin: 0;
  background-color: $site-bg-color;
  background-image: url('content_bg.jpg');
  font-family: 'Raleway', serif;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  div.content {
    padding: 0 0;
    margin-top: 6em;
    width: 100%;
    position: relative;

    img.splash {
      width: 100%;
    }

    div.title {
      position: absolute;
      width: 100%;
      top: 10em;
      text-align: center;

      h1 {
        font-family: 'Merienda', cursive;
        color: $title-color;
        text-shadow: 3px 3px $title-shadow-color;
        font-size: 6em;
      }
    }

    div.content-bubble-wrapper {
      width: $content-width;
      left: 50%;
      position: absolute;
      margin-left: (-1 * $content-width /2);

      div.content-bubble {
        margin-top: 5em;
        display: flex;

        img {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: auto;
        }

        div {
          display: inline-block;
          padding: 1em;
          font-family: 'Raleway', serif;

          h1 {
            font-family: 'Arvo', serif;
          }
        }

        div.highlight {
          background: $div-bg-color;
          border: 1px solid $div-border-color;
        }

        .one_third {
          width: 30%;
        }

        .two_thirds {
          width: 63%;
        }

        .half {
          width: 45%;
        }

        .right {
          margin-left: 2.5%;
        }

        .left {
          margin-right: 2.5%;
        }
      }
    }

    div.footer {
      position: absolute;
      bottom: 0;
    }
  }
}