<%= render partial: 'partials/title', locals: {title: 'Get Involved'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right highlight">
      <h2>Change This</h2>
      <p>
        Contact form with selection of how to get involved
      </p>
      <p>
        Perhaps this page gets merged with "Volunteer" and "Donate"?
      </p>
    </div>
  </div>
</div>
