<%= render partial: 'partials/title', locals: {title: 'Get Involved'} %>
<p>
  Contact form with selection of how to get involved
</p>
<p>
  Perhaps this page gets merged with "Volunteer" and "Donate"?
</p>
